In [5]:
import pandas as pd
df_all = pd.ExcelFile('C:/Users/user/Desktop/2020_공정_/공정보고_요청_데이터_210108.jj')

In [6]:
df = df_all.parse('공정보고_공정률(주간,월간)')

In [12]:
df['보고기준일'] = df['보고기준일'].dt.date
df['공정기준일'] = df['공정기준일'].dt.date

In [14]:
df = df[~df['현장명'].isnull()]

In [22]:
df.reset_index(drop=True, inplace=True)

In [8]:
import pymysql.cursors

In [3]:
import pymysql.cursors
 
conn = pymysql.connect(host='127.0.0.1', user='root',password='hdec',charset='utf8')
 
try:
    with conn.cursor() as cursor:
        sql = 'CREATE DATABASE HDEC'
        cursor.execute(sql)
    conn.commit()
finally:
    conn.close()

In [4]:
conn = pymysql.connect(host='127.0.0.1', user='root',password='hdec', db='HDEC',charset='utf8')
try:
    with conn.cursor() as cursor:
        sql = '''
            CREATE TABLE process_rate (
                division varchar(255) NOT NULL,
                code varchar(255) NOT NULL,
                name varchar(255) NULL,
                type varchar(255) NOT NULL,
                date_report date NOT NULL,
                date_process date NOT NULL,
                rate_plan decimal(7,2) NOT NULL,
                rate_real decimal(7,2) NOT NULL,
                rate_difference decimal(7,2) NOT NULL
            ) ENGINE=InnoDB DEFAULT CHARSET=utf8
'''
        cursor.execute(sql)
    conn.commit()
finally:
    conn.close()

In [10]:
sql = 'insert into HDEC.process_rate (DIVISION, CODE, NAME, TYPE, DATE_REPORT, DATE_PROCESS, RATE_PLAN, RATE_REAL,RATE_DIFFERENCE) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'

In [23]:
from tqdm import tqdm_notebook
conn = pymysql.connect(host='127.0.0.1', user='root',password='hdec', db='HDEC',charset='utf8')
try:
    for i in tqdm_notebook(df.index.tolist()):
        with conn.cursor() as cursor:
            for i in df.index.tolist():
                data = (df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,3],df.iloc[i,4],df.iloc[i,5],df.iloc[i,6],df.iloc[i,7],df.iloc[i,8])
                cursor.execute(sql, data)
        conn.commit()
finally:
    conn.close()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=47805.0), HTML(value='')))

KeyboardInterrupt:

In [19]:
df.index.tolist()[-2:]

[47806, 47807]

In [21]:
i

47805

In [20]:
df

,사업부,현장코드,현장명,보고타입,보고기준일,공정기준일,계획,실적,차이
0,건축,CHES,HYUNDAI ELEVATOR SHANGHAI FACTORY,M,2018-09-06,2018-10-02,12.20,11.30,-0.90
1,건축,CHES,HYUNDAI ELEVATOR SHANGHAI FACTORY,M,2018-10-06,2018-11-05,15.10,13.20,-1.90
2,건축,CHES,HYUNDAI ELEVATOR SHANGHAI FACTORY,M,2018-11-06,2018-12-05,19.80,17.80,-2.00
3,건축,CHES,HYUNDAI ELEVATOR SHANGHAI FACTORY,M,2019-01-06,2019-02-02,37.00,22.11,-14.89
4,건축,CHES,HYUNDAI ELEVATOR SHANGHAI FACTORY,M,2019-02-06,2019-03-04,24.74,22.78,-1.96
...,...,...,...,...,...,...,...,...,...
47803,플랜트,VMON,"MONG DUONG-Ⅰ1,000MW THERMAL POWER PLANT",W,2015-12-21,2015-12-21,100.00,100.00,0.00
47804,플랜트,VMON,"MONG DUONG-Ⅰ1,000MW THERMAL POWER PLANT",W,2015-12-28,2015-12-28,100.00,100.00,0.00
47805,플랜트,VMON,"MONG DUONG-Ⅰ1,000MW THERMAL POWER PLANT",W,2016-01-04,2016-01-04,100.00,100.00,0.00
47806,플랜트,VMON,"MONG DUONG-Ⅰ1,000MW THERMAL POWER PLANT",W,2016-01-11,2016-01-11,100.00,100.00,0.00
47807,주택,GG73,힐스테이트 판교 엘포레,M,2020-12-06,2020-12-06,79.06,79.06,0.00